<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Fill Blanks</title>
</head>
<body>
  <h2>Create Your Sentences</h2>
  <form id="create_sentences">
    <input required placeholder="Write your sentence" name="sentence" />
    <input required placeholder="Word to hide" name="hidden_word" />
    <button>Create</button>
  </form>

  <h3>Your Sentences</h3>
  <ul id="sentence_list"></ul>

  <script src="../static/fillblanks.js"></script>
</body>
</html>
