<!-- folder.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folder</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>🧩Nellearn</h1>
            </div>
            <ul class="links-nav">
                <li><a href="index.html">Main page</a></li>
                <li><a href="fillblanks.html">Fill Blank</a></li>
                <li><a href="flashcards.html">Flashcards</a></li>
                <li><a href="notes.html">Notes</a></li>
            </ul>
            <div class="auth-buttons">
                <a href="login.html" class="login-button">Login</a>
                <a href="register.html" class="register-button">Register</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="main-header-row">
            <h2 id="folder-title">Folder Name</h2>
            <button class="create-folder-button" id="create-note">Create a new file</button>
        </div>

        <div id="noteModal" class="modalFolder">
            <div class="modal-folder-content">
                <span class="close-modal" id="modal-close">X</span>
                <form id="noteForm">
                    <label>Title:</label>
                    <input name="title" required>
                    <label>Content:</label>
                    <textarea name="content" required></textarea>
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>

        <div id="notesContainer" class="folders-container"></div>
    </main>
    <footer>
        <p>&copy; 2025 Planet Nellearn. All rights reserved.</p>
    </footer>
    <script src="../static/folder.js"></script>
</body>
</html>