<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto JJ-Inicio</title>
</head>
<body>
    <header>
        <nav>
            <div>
                <h1>Aprende Fácil</h1>
            </div>
            <ul>
                <li>Inicio</li>
                <li>Fill Blank</li>
                <li>Flashcards</li>
                <li>Notes</li>
            </ul>
            <div>
                <button><a href="login.html">Login</a></button>
                <button><a href="register.html">Register</a></button>
            </div>
        </nav>
    </header>

    <main>

    </main>
</body>
</html>

